*{
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

#header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    background: #f3f3f3;
    padding: 0 20px;
}

.icon-menu{
    width: 30px;
    height: 30px;
    fill: black;
}

.title{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@media (min-width: 1020px){
    .icon-menu{
        display: none;
    }

    .title{
        position: relative;
        left: 0;
        transform: none;
    }
}