* {
    box-sizing: border-box;
    margin: 0;
}

.card {
    position: relative;
    background: #16161D;
    width: 430px;
    height: 150px;
    border-radius: 16px;
    position: absolute;
    top: calc(50% - (198px / 2));
    left: calc(50% - (400px / 2));
}

.img_champ {
    width: 150px;
    height: 150px;
    border-radius: 8px;
}

.skin_name_container {
    background:#17171C;
    color:#7FB4BB;
    border-radius: 4px;
    position: absolute;
    bottom: calc(50% - 65px);
    left: 10px;
}

.champ_stats {
    position: absolute;
    color: #7FB4BB;
    top: calc(50% - 55px);
    left: 175px;
}

.ability {
    position: absolute;
    bottom: calc(50% - 60px);
    left: 175px;
}

.ability_img {
    width: 40px;
    height: 40px;
    border-radius: 8px;    
}