*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background: #2A293F;
    
}

.header{
    justify-content: space-around;
    padding: 10px;
}

.divLogo{
    display: inline;
    width: 220px;
    height: 48px;
}

.nav{
    display: inline;
    margin-left: 150px;
}

.divNav1{
    display: inline;
    width: 120px;
    height: 47px;
}

.divNav2{
    display: inline;
    width: 219px;
    height: 47px;
}

.divNav3{
    display: inline;
    width: 269px;
    height: 47px;
}

.divNav4{
    display: inline;
    width: 290px;
    height: 47px;
}

.divUtility{
    display: inline;
    width: 220px;
    height: 44px;
}

.main{
    padding: 10px;
}

.divMain1{
    align-items: start;
}

.p1div1{
    font-family: Impact;
    display: block;
    font-size: 64px;
    text-align: left
}

.p2div1{
    font-family: Impact;
    font-size: 96px;
    text-align: left;
}